<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy - StoryLoom</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    {{> header}}

    <main class="container">
        <div class="text-content">
            <h1>Privacy Policy</h1>
            
            <p>When you use the StoryLoom website, no personally identifiable information is collected about you except for the IP address from which you accessed the website. StoryLoom does NOT use third-party data collection tools such as Google Analytics, and does NOT allow web trackers of any kind.</p>

            <p>StoryLoom processes data from its access logs, including your IP address, for periodic analysis of website usage, quality assurance, and aggregate reporting. All access log data, <em>including</em> your IP address, are <em>automatically</em> and <em>permanently</em> deleted after at most 60 days.</p>

            <p>All requests for data addition, correction, or deletion should be sent by email to <strong>thaitq.23bi14396 (at) your-domain</strong>.</p>

            <h2>Uses of Cookies and Captchas</h2>
            <p>In order to assure the site is available for human users, not robots or third-party sites, this site may make use of cookies, captchas, and related techniques to apply our <a href="/terms">Terms of Use</a>. See these Terms of Use for alternate means to acquire StoryLoom content and metadata for automated use.</p>

            <h2>Contributors</h2>
            <p>Content contributed to StoryLoom, including errata reports and fixes, must be dedicated in the Public Domain. Dedications to the Public Domain may not be revoked.</p>

            <h2>Links to Third Party Websites</h2>
            <p>The StoryLoom website has links to external sites that it does not control and has no relationship to. Some of those sites, such as Facebook, are notorious wholesale collectors of private data, and it has been reported that such data are freely shared with national spy organizations and others. We strive to link in a manner that does not allow those third party websites to see what you are doing on StoryLoom unless you explicitly select one of those links. When you select a third party link, you will leave the StoryLoom website, and we cannot know what the other site will do with your data.</p>
        </div>
    </main>

    {{> footer}}

</body>
</html>